<div class="container">
  <div class="row well">
    <div class="down-50">
      <% if flash[:error] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <form class="form" method="post" action="update">
        <fieldset>
          <legend>Update your Password</legend>
          <div class="control-group">
            <label class="control-label" for="current_password">Current Password:</label>
            <div class="controls">
              <input name="current_password" placeholder="my password" type="password" class="login-span" id="current_password" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="new_password">New Password:</label>
            <div class="controls">
              <input name="new_password" placeholder="new password" type="password" class="login-span" id="new_password" />
            </div>
          </div>          
          <div class="control-group">
            <div class="controls">
              <input name="confirm_password" placeholder="confirm password" type="password" class="login-span" id="confirm_password" />
            </div>
          </div> 
          <div class="control-group">
            <div class="controls">
              <input type="submit" value="Update" class="btn btn-primary float-right" />
            </div>
          </div>       
      </form>
    </div>
  </div>
</div>
